:root {
  /* Fonts */
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --gray-txt-cl: rgb(157, 164, 189);
  --gray-60-txt-cl: rgba(157, 164, 189, 0.6);

  --main-bg-cl: #303030;
  --accent-bg-cl: #ff6c00;

  /* Others */
  --radius: 25px;
}
/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* reset end */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid red;
  outline-offset: -2px;
}

.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
}
.uppertitle-theme-dark {
  color: rgba(157, 164, 189, 0.6);
}
.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}
.title-theme-dark {
  color: var(--light-txt-cl);
}
.subtitle {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
}
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;

  background-color: transparent;
  border: 1px solid var(--accent-bg-cl);
  border-radius: var(--radius);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}
.btn-theme-dark {
  color: var(--light-txt-cl);
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #111319;
}
.logo {
}
.logo-img {
}
.nav {
}
.nav-list {
}
.nav-item {
}
.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-cl);
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}
.header-button {
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  background-color: #111319;
}
.media {
}
.media-item {
}
.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #303030;
}
.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}
.hero-title {
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}
.hero-desc {
  color: var(--gray-txt-cl);
}
/* slider */
.slider-pagination {
}
.slider-pagination-item {
}
.slider-controls {
}
.slider-controls-item {
}
.slider-controls-btn {
}
/**
  |============================
  | About styles
  |============================
*/
.about {
}
.about-list {
}
.about-item {
}
.about-img {
}
.about-desc {
  font-size: 14px;
  line-height: calc(26 / 14);
  color: #555555;
}
/**
  |============================
  | Price styles
  |============================
*/
.price {
  background-color: #111319;
}
.price-wrapper {
}
.price-list {
}
.price-item {
  color: var(--gray-txt-cl);
}
.price-line {
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-quentity {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
}
.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--accent-txt-cl);
}
.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
}
/**
  |============================
  | Team styles
  |============================
*/
.team {
}
.team-list {
}
.team-item {
}
.team-avatar {
}
.team-name {
  text-align: center;
}
.team-position {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  color: var(--accent-txt-cl);
}
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}
/**
  |============================
  | Gallery styles
  |============================
*/
.gallery {
}
.gallery-list {
}
.gallery-item {
}
.gallery-img {
}
/**
  |============================
  | Booking styles
  |============================
*/
.booking-wrapper {
  background-color: #111319;
}
.booking {
}
/**
  |============================
  | Contacts styles
  |============================
*/
.contacts {
}
.contacts-group {
  font-style: normal;
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
  color: var(--gray-txt-cl);
}
.schedule-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--gray-60-txt-cl);
}
.schedule-desc {
  color: var(--gray-txt-cl);
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--gray-txt-cl);
}
