body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.box {
  width: 80vw;
  height: 500px;
  margin: 0 auto;

  padding: 30px;

  /* background-attachment: fixed; */

  border-radius: 10px;
  background-color: lightblue;
  background-image: url(https://cdn3.iconfinder.com/data/icons/halloween-lines-color/64/bone-512.png),
    url(./dog.jpg);
  background-repeat: no-repeat;
  background-position: left 50px top 100px, center;
  background-size: 200px, cover;
  /* background-position: top 50% left calc(50% + 320px); */
}
