body {
  padding-top: 140px;
}

.flexbox-container {
  width: 700px;
  /* height: 500px; */
  margin: 0 auto;

  background-color: lightblue;
}

.flexbox-item {
  /* width: 180px; */
  height: 180px;

  font-size: 4em;
  line-height: 180px;
  color: aliceblue;
  text-align: center;
  background-color: lightgreen;

  box-shadow: 4px 4px 10px rgb(0 0 0 / 0.2);
}
/* .flexbox-item:nth-child(2) {
  background-color: tomato;
  font-size: 7em;
} */
/**
  |============================
  | Flexbox layout
  |============================
*/
.flexbox-container {
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px;

  outline: 2px solid red; */

  /* justify-content: space-between; */
  /* justify-content: center;
  align-items: center; */

  /*
  == Default properties ==
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;

  */
}

.flexbox-item {
  /* margin-bottom: 80px;
  margin-right: 80px; */
}

/* .flexbox-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flexbox-item:nth-child(3n + 3) {
  margin-right: 0;
} */

/**
  |============================
  | Flexbox grid
  |============================
*/
:root {
  --items: 3;
  --indent: 20px;
}
/* Base class for grid */
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.flexbox-item {
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/*  */
.items-3 {
  --indent: 40px;

  margin-bottom: 30px;
}
.items-4 {
  --items: 4;
  margin-bottom: 30px;
}

.items-6 {
  --items: 6;
  --indent: 30px;
}
