.contacts {
  @extend %section;

  width: 570px;
  padding-left: 100px;
}
.contacts-group {
  margin-bottom: 72px;
  font-style: normal;
}
.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--gray-txt-cl);
}
.contacts-link:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-icon {
  fill: none;
  stroke: var(--gray-txt-cl);
}
.schedule-uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--gray-60-txt-cl);
}
.schedule-uppertitle::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--gray-60-txt-cl);
}
.schedule-desc {
  color: var(--gray-txt-cl);
}
