@mixin section($pt: 120px, $pb: $pt) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin fonts($fs: 18px, $lh: 30px, $ls: 0.02em, $fw: false) {
  @if $fw {
    font-weight: $fw;
  }
  font-size: $fs;
  line-height: round($fs, $lh);
  letter-spacing: $ls;
}

@mixin mq($device-type) {
  $phone: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  @if ($device-type == 'phone') {
    @media screen and (min-width: $phone) {
      @content;
    }
  }
  @if ($device-type == 'phone-only') {
    @media screen and (min-width: #{$phone - 0.02}) {
      @content;
    }
  }
  @if ($device-type == 'tablet') {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
  @if ($device-type == 'tablet-only') {
    @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
      @content;
    }
  }
  @if ($device-type == 'desktop') {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
  @if ($device-type == 'retina') {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @content;
    }
  }
}
